*{
    box-sizing: border-box;
}

/* General */
body{
    /* font-family: 'Times New Roman', Times, serif; */
    background-image: url("img/background2.jpg");
    font-family: 'Cormorant Garamond', serif;    
    text-align: justify;
    margin: 0px;
    width: 100%;
}

.main-section{
    padding: 0px 20px 20px 20px;
}

p{
    text-indent: 30px;
}

.negrita{
    font-weight: 400;
}

.azul{
    color: blue;
    text-decoration: underline;
}
.autores{
    color: #636363 ;
}
.compartida{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.compartida img{
    width: 500px;
    height: auto;
    margin-top: 20px;
}

.explicacion-img{
    font-style: italic;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}

section{
    gap: 30px;
}
/* Header */

nav{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#7F8C8D,#CCD1D1)
}

.paginas{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    gap: 30px;
}
.paginas li:hover{
    font-size: 25px;
}

.paginas a{
    color: black;
    text-decoration: underline;
}

/* Notas de arriba */
.noticias-arriba{
    display: grid;
    grid-template-columns: 2fr 0.1fr 2fr 0.1fr 2fr;
    font-weight:400;
    text-align: justify;
}

.img-portada{
    width: 150px;
    display: flex;
    justify-content: center;
}

/* Noticias principales */
.principal-arriba{
    display: grid;
    grid-template-columns: 6fr 0.2fr 2fr;
    gap: 20px;
}

.imagen{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imagen img{
    display: inline-block;
    width: 850px;
}

.titulo h1{
    font-family: 'Niconne', cursive;
    font-size: 100px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 4px;
}

.titulo h3{
    text-align: center;
}

/* Abajo */
.principal-abajo{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
}

/* INTERNA */
.principal-interna{
    width: 100%;
}

/* Opinión */
.nota-abajo-centro{
    width: 50%;
}

.nota-abajo-centro img{
    width: 400px;
}

.img-text{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.stalin{
    display: flex;
    flex-direction: column;
}

.stalin img{
    width: 500px;
}

#poder-nazi{
    width: 270px;
    height: 310px;
}

/* Interna dos */

.dos-filas{
    display: grid;
    grid-template-columns: 2fr 0.1fr 2fr;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center img{
    width: 100%;
    margin: 0;
}

/* BIBLIOGRAFÍA */
.bibliografia li{
    line-height: 2.5;
}

/* CARATULA */
.caratula{
    margin-left: 40px;
}

.caratula h1{
    text-align: center;
}