*{
    box-sizing: border-box;
}

/* General */
body{
    /* font-family: 'Times New Roman', Times, serif; */
    background-image: url("img/background2.jpg");
    font-family: 'Cormorant Garamond', serif;    
    margin: 0px;
    width: 100%;
}

.main-section{
    padding: 20px;
}

p{
    text-indent: 30px;
}

.negrita{
    font-weight: 400;
}

.azul{
    color: blue;
}
.autores{
    color: #636363 ;
}
.compartida{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.compartida img{
    width: 500px;
    height: auto;
    margin-top: 20px;
}

.explicacion-img{
    font-style: italic;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}

section{
    gap: 30px;
}
/* Header */

nav{
    display: flex;
    justify-content: center;
}

.paginas{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    gap: 30px;
}
.paginas li:hover{
    font-size: 25px;
}

.paginas a{
    color: black;
    text-decoration: underline;
}

/* Notas de arriba */
.noticias-arriba{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight:400 ;

}

/* Noticias principales */
.nota-principal img{
    max-width: 400px;
    display: inline-block;
    max-height: 350px;
}

.titulo h1{
    font-family: 'Niconne', cursive;
    background: #8357CE;
    font-size: 100px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 4px;
}

.titulo h3{
    text-align: center;
}

.principal-arriba{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

/* Abajo */
.principal-abajo{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

/* INTERNA */
.principal-interna{
    width: 100%;
}

/* Opinión */
.nota-abajo-centro{
    width: 50%;
}

.nota-abajo-centro img{
    width: 400px;
}

.stalin{
    display: flex;
    flex-direction: column;
}

.stalin img{
    width: 600px;
}

#poder-nazi{
    width: 270px;
    height: 310px;
}