*{
    box-sizing: border-box;
}

/* General */
body{
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: #ACACAC;
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
    padding: 20px;
    width: 100%;
}

p{
    text-indent: 30px;
}

.negrita{
    font-weight: 400;
}

.azul{
    color: blue;
}
.autores{
    color: #636363 ;
}
.compartida{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.compartida img{
    width: 500px;
    height: auto;
    margin-top: 20px;
}

.explicacion-img{
    font-style: italic;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}

/* Header */
nav{
    display: flex;
    justify-content: center;
}

.paginas{
    list-style-type: none;
    display: flex;
    font-size: 20px;
    gap: 30px;
}
.paginas li:hover{
    font-size: 25px;
}

.paginas a{
    color: black;
    text-decoration: underline;
}

/* Notas de arriba */
.noticias-arriba{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.titulo h1{
    font-family: 'Niconne', cursive;
    font-size: 100px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    margin-top: 4px;
}

.titulo h3{
    text-align: center;
}

.principal-arriba{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Abajo */
.principal-abajo{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
}

.nota-abajo-centro img{
    width: 400px;
}

#poder-nazi{
    width: 270px;
    height: 310px;
}

/* INTERNA */
.principal-interna{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}
