/* General */
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}
*{
    box-sizing: border-box;
    
}

p{
    text-indent: 30px;
}

.compartida{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Notas de arriba */
.noticias-arriba{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.nota-principal img{
    width: 400px;
    display: inline-block;
    max-height: 350px;
}



.titulo h1{
    font-size: 50px;
    text-decoration: underline;
    color: red;
    text-align: center;
}

.titulo h3{
    text-align: center;
}

.principal-arriba{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Abajo */
.principal-abajo{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
}

.nota-abajo-centro img{
    width: 400px;
}

#poder-nazi{
    width: 270px;
    height: 310px;
}
